.box-left {
    --cell-size: 68px;
    position: relative;
    width: min(100%, 620px);
    margin: 0 auto;
    overflow: hidden;
    transform: top center;
    scale: (1);
}

#game_board {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#game_board td {
    position: relative;
    width: var(--cell-size);
    height: var(--cell-size);
    border: 2px solid lightskyblue;
    border-radius: 50%;
    cursor: pointer;
}

#game_board td:hover::after {
    background-color: rgba(135, 206, 250, 0.1);
    content: "";
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}

.finished td:hover::after {
    background-color: transparent !important;
}

#game_board .coin {
    cursor: default;
}

#game_board .human-coin,
.human-coin {
    background: lightskyblue;
}

#game_board .cpu-coin,
.cpu-coin {
    background: #24f3b2;
}

#game_board .win {
    animation: animationFrames 1s infinite;
}

#loading {
    display: none !important;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 10px;
    background: #dc143c;
    color: #fff;
    padding: 4px;
}

@keyframes animationFrames {
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 720px) {
    .box-left {
        --cell-size: 47px;
        width: 330px;
    }
}
